---
type Props = {
  title?: string;
  href?: string;
};

const { title, href } = Astro.props;
const Tag = href ? "a" : "div";
---

<Tag class="card" href={href}>
  {title && <p class="card-title">{title}</p>}
  <slot />
</Tag>
